:root {
    /** 主题颜色 */

    --vp-c-brand-1: var(--vp-c-purple-1);
    --vp-c-brand-2: var(--vp-c-purple-2);
    --vp-c-brand-3: var(--vp-c-purple-3);
    --vp-c-brand-soft: var(--vp-c-purple-soft);

    /** 背景颜色 */

    /*
    --vp-c-bg: #fff;
    --vp-c-bg-alt: #f6f6f7;
    --vp-c-bg-elv: #fff;
    --vp-c-bg-soft: #f6f6f7;
    */

    /** 文本颜色 */

    /*
    --vp-c-text-1: rgba(60, 60, 67);
    --vp-c-text-2: rgba(60, 60, 67, 0.78);
    --vp-c-text-3: rgba(60, 60, 67, 0.56);
    */
}

/** 深色模式 */
[data-theme="dark"] {
    /*
    --vp-c-bg: #1b1b1f;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;
    */

    /*
    --vp-c-text-1: rgba(255, 255, 245, 0.86);
    --vp-c-text-2: rgba(235, 235, 245, 0.6);
    --vp-c-text-3: rgba(235, 235, 245, 0.38);
    */
}

.content-container h2 {
    font-size: 28px;
    border-radius: .5em;
    border-top: 0 !important;
    width: fit-content;
}

.content-container h3 {
    font-size: 24px;
    border-radius: .3em;
    width: fit-content;
}

.content-container h2::before {
    content: "H2";
    border-radius: .3em;
    font-size: .8em;
    padding: 3px 7px;
    margin-right: 15px;
    background-color: var(--vp-c-purple-3);
    color: white;
}

.content-container h3::before {
    content: "H3";
    color: white;
    font-size: 0.8em;
    background-color: var(--vp-c-purple-3);
    border-radius: .3em;
    margin-right: 12px;
    padding: 4px 7px;
    float: none;
    position: relative;
    top: 0;
    left: 0;
    vertical-align: baseline;
    border-width: 0;
}

.content-container p {
    text-indent: 2em;
}

.vp-doc-meta p,
blockquote p {
    text-indent: 0;
}

blockquote {
    border-left: 0.25rem solid var(--vp-c-purple-3) !important;
    padding: 0.25rem 1rem;
    margin: 1rem 0;
    background-color: var(--vp-c-bg-soft);
    border-radius: 0.25rem;
}

/*博客item下划线*/
.vp-categories .vp-categories-item .post,
.vp-blog-short-post-list li .post-title,
.blog-post-item-content h3 {
    width: fit-content;
    background: linear-gradient(to right, var(--vp-c-purple-1), var(--vp-c-purple-soft)) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 1s ease !important;
}
.vp-categories .vp-categories-item .post:hover,
.vp-blog-short-post-list li:hover .post-title,
.blog-post-item-content h3:hover {
    background-position-x: left;
    background-size: 100% 2px;
}

.vp-blog-short-post-list li:hover .post-time {
    color: var(--vp-c-purple-1) !important;
}

.vp-blog-short-post-list li .post-title {
    flex: none !important;
}

/*页脚链接样式*/
.vp-friend .content a,
.vp-footer .container .message a {
    text-decoration-line: none !important;
    background: linear-gradient(to right, var(--vp-c-purple-1), var(--vp-c-purple-soft)) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 1s ease !important;
}

.vp-friend .content a:hover,
.vp-footer .container .message a:hover {
    color: var(--vp-c-brand-1) !important;
    background-position-x: left;
    background-size: 100% 2px;
}

.vp-categories .folder:hover,
.vp-flyout:hover .text,
.vp-social-link:hover {
    color: var(--vp-c-brand-1) !important;
}

.vp-doc .vp-tabs-nav{
    overflow: unset;
}