:root {
    /** 主题颜色 */

    /*
    --vp-c-brand-1: #5086a1;
    --vp-c-brand-2: #6aa1b7;
    --vp-c-brand-3: #8cccd5;
    --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
    */

    /** 背景颜色 */

    /*
    --vp-c-bg: #fff;
    --vp-c-bg-alt: #f6f6f7;
    --vp-c-bg-elv: #fff;
    --vp-c-bg-soft: #f6f6f7;
    */

    /** 文本颜色 */

    /*
    --vp-c-text-1: rgba(60, 60, 67);
    --vp-c-text-2: rgba(60, 60, 67, 0.78);
    --vp-c-text-3: rgba(60, 60, 67, 0.56);
    */
}

/** 深色模式 */
[data-theme="dark"] {
    /*
    --vp-c-brand-1: #8cccd5;
    --vp-c-brand-2: #6aa1b7;
    --vp-c-brand-3: #5086a1;
    --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
    */

    /*
    --vp-c-bg: #1b1b1f;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;
    */

    /*
    --vp-c-text-1: rgba(255, 255, 245, 0.86);
    --vp-c-text-2: rgba(235, 235, 245, 0.6);
    --vp-c-text-3: rgba(235, 235, 245, 0.38);
    */
}

.content-container h2{
    font-size: 28px;
    border-radius: .5em;
    border-top: 0 !important;
    width: fit-content;
}

.content-container h3 {
    font-size: 24px;
    border-radius: .3em;
    width: fit-content;
}

.content-container h2::before {
    content: "H2";
    border-radius: .3em;
    font-size: .8em;
    padding: 3px 7px;
    margin-right: 15px;
    background-color: var(--vp-c-purple-3);
    color: white;
}

.content-container h3::before {
    content: "H3";
    color : white;
    font-size: 0.8em;
    background-color: var(--vp-c-purple-3);
    border-radius: .3em;
    margin-right: 12px;
    padding: 4px 7px;
    float: none;
    position: relative;
    top: 0;
    left: 0;
    vertical-align: baseline;
    border-width: 0;
}

.content-container p {
    text-indent: 2em;
}
.vp-doc-meta p,
blockquote p {
    text-indent: 0;
}

blockquote {
    border-left: 0.25rem solid var(--vp-c-purple-3) !important;
    padding: 0.25rem 1rem;
    margin: 1rem 0;
    background-color: var(--vp-c-bg-soft);
    border-radius: 0.25rem;
}
